 body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poppins', bold;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    color: #EEEEEE;
    text-decoration: none;
}
h3 {
    background-color: #eeee;
    
}